.dummy-sec{
    background-color: aliceblue;
    min-height: 70vh;
    width: 100%;
}
.dummy-sec h3{
    text-align: center;
    color: blue;
}

.dummy-sec .parent-div{
    width: 400px;
    height: 500px;
    margin: auto;
    background-color: aquamarine;
    border: 2px solid black;
}

.parent-div img{
    height: 100%;
    width: 100%;
}
.parent-div{
    position: relative;
}
.parent-div .social{
    /* background-color: rgb(232, 232, 24); */
    height: 50px;
    position: absolute;
    bottom: -25px;
    right: 0;
    left: 0;

}
.icons{
    /* position: absolute; */
    /* bottom: -50%; */
    
    background-color: rgb(24, 232, 69);
    border-radius: 20px;
    width: 150px;
    min-height: 50px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
   
}

/*  */


/* .bar{
    position: relative;
    z-index: 2;
}

.sidebar{
    background-color: #88C725;
    height:100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transform: translatex(-100%);
    transition: all .5s;
}
.bar:hover > .sidebar{
    left: 0;
    transform: translatey(0);
} */

/* .navb{
    background: #88C725;
    padding: 10px;
    color: white;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bar{
    font-size: 24px;
    color: white;
    position: relative;
}
.login-search p{
    margin: 0;
}
.sidebar{
    position: absolute;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background: #444;
    color: white;
    padding: 10px;
    transition: left 3ms ease;
}
.sidebar ul{
    list-style: none;
}
.sidebar ul li{
    margin: 15px 0;
}
.sidebar ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.sidebar ul li a:hover{
    color: beige;
}
.bar:hover + .sidebar{
    left: 0;
} */


