@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poiret One", serif;
    scroll-behavior: smooth;
}
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}


/** overnav tag**/
.overnav{
    padding: 11px;
    color: white;
    font-size: 17px;
    background-color: #82C419;
    display: flex;
    justify-content: space-evenly;
}
.overnav i{
    color: red;
}

/** navigation tag**/
.b-container{
    /* position: relative; */
    margin: 20px;
    /* padding: 35px; */
    /* background-color: black; */
    /* display: flex;
    justify-content:space-between; */
}
.b-container .b-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.b-container .b-box .b-icon-box{ 
    /* background: #79d31f; */
    margin: 15px;
    width: 40px;
    height: 40px;
    /* align-content: center; */
    cursor: pointer;
    position: relative;
   
    display: none;
}
.b-container .b-box .b-icon-box i{
    font-size: 35px;
}

.b-container .b-box .b-heading{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.b-container .b-box .b-heading h1{
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.b-container .b-box .b-login-search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 18px;
    gap: 35px;
    /* background: orange; */
    /* width: 250px; */
    height: auto;
}
.b-container .b-box .b-login-search p{
    font-size: 14px;
    font-weight: bolder;
    margin: 10px;
}
.b-container .b-box .b-login-search p i{
    font-size: 13px;
}
.b-container .b-box .b-login-search .b-search{
    font-size: 14px;
}
.b-container .b-box .b-sidebar{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100vh;
    background-color: #89c725e8;
    transform: translatex(-100%);
    transition: all .6s ease-in-out;
    z-index: 9999;
    /* align-content: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.b-container .b-box .b-sidebar ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style: none;
}
/* .b-container .sidebar ul li{
    display: flex;
    align-content: center;
    gap: 20px;
    list-style: none;
} */
.b-container .b-box .b-sidebar ul li a button{
    background: white;
    color: black;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    width: 200px;
    padding: 10px;
    
}

.b-icon-box:hover ~ .b-sidebar {
    transform: translateX(0);
}

.b-full-nav{
    /* width: 250px; */
    display: block;
    
}
.b-full-nav ul{
    display:flex ;
    /* justify-content:space-evenly; */
    list-style: none;
    /* align-items: end; */
    gap: 10px;
    
    /* padding: 10px; */
}
.b-full-nav ul li{
    /* background: #74AD1B; */
    /* display: flex; */
    /* gap: 20px; */
}
.b-full-nav ul li a{
    text-decoration: none;
    padding: 5px;
    /* display: flex; */
    /* padding: 10px;  */
    /* gap: 50px; */
    font-weight: bold;
    width: 100%;
    
}

.b-full-nav ul li a:hover{
    color: #121311;
    background: #82C419;
    height: 50%;
    transition: .5s all ease-in-out;
    border-radius: 10px;
    
}


/** design-image tag**/
.d-img-outer {
    width: 100%;
}

.d-img {
    width: 100%;
    height: 79vh;
    object-fit: cover;
    /* position: relative; */
}


/** image above contents**/
.above-image{
    background-color:#2D2E2E ;
    width: 120%;
    height: 130px;
    color: white;
    font-size: 33px;
    align-content: center;
    padding-left: 45px;
    margin-bottom: 20px;
}
.read{
    background-color: #121311;
    width: 75%;
    height: 40px;
    color: white;
    font-size: 18px;
    align-content: center;
    text-align: center;
    /* padding-left: 20px; */
    margin-left: 107px;
}
.main-img{
    position: relative;
}
.above-iamge-div{
    position: absolute;
    top: 0px;
}


.contact{
    background-color: #121311;
    width: 65%;
    height: 40px;
    color: white;
    font-size: 18px;
    align-content: center;
    padding-right: 20px;
    margin-right: 135px;
    margin-bottom: 20px;
    text-align: center;
}
.below-image-para{
    background-color:#2D2E2E ;
    width: 99%;
    height: 130px;
    color: white;
    font-size: 33px;
    align-content: center;
    padding-right: 80px;
    padding-left: 30px; 
    /* text-align: center; */
    align-items: center;
    /* margin-right: 50px;    */
}
.below-image-div{
    position: absolute;
    right: 0px;
    bottom: 10px;
}




.d-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    /* background: #F4E212; */
}
.d-container .d-box{
    height:200px;
    /* height: 160px; */
    width: 250px;
    background: #F4E212;
    /* margin: 5px;
    box-shadow: 0px 0px 15px;
    border-radius: 20px; */
    margin :5px 20px;
    box-shadow: 0px 0px 15px;
    transition: .5s all ease-in-out;
    position: relative;
}
.d-container .d-box .d-box-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 15px; */
    padding: 15px;
    text-align: center;
}
.d-container .d-box .d-box-content i{
    font-size: 25px;
    /* padding: 10px; */
}
.d-container .d-box .d-box-content .d-title{
    font-size:25px;
    padding: 8px;
}
.d-container .d-box .d-box-content .d-para{
    font-size: 15px;
    padding: 10px;
    /* height: 20%; */
}
.d-container .d-box .d-box-content a{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.d-container .d-box:hover{
    background: linear-gradient(90deg, #ea084c 25%, #df0505 100%);
    transition: .5s, all ease-out;
}
.d-container .d-box:hover i,
.d-container .d-box:hover .d-title,
.d-container .d-box:hover .d-para{
    color: white;
    transition: .3s, all ease-in;
    box-shadow: none;
}








/** pencil detail tag**/
.layout-pencil{
    padding-top: 120px;
    padding-bottom: 120px;
}
.pencil-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;   
    
   }
.para-pencil-bg{
    /* align-items: end; */
    font-size: 20px;
    align-content: center;
    padding: 10px;
    color:white;
    background-color: #252525;
    width:40%;
    height: 45vh;
    /* overflow-y: scroll;
    z-index: ; */
}

.pencil-img{
    background-color: black;
    padding: 5px;
    width: 30%;

}



/** pen detail tag**/
.layout-pen{
    /* padding-top: 120px; */
    margin-bottom: 10%;
    /* padding-bottom: 120px; */
    background-color: #252525;
    height: 50vh;
    align-items: center;
    /* align-content: center; */
}
.pen-section{
    display: flex;
    justify-content: center;
    /* align-items:normal; */
    padding: 40px;   
   }
.para-pen-bg{
    /* align-items: end; */
    font-size: 20px;
    align-content: center;
    padding: 10px;
    color: white;
    background-color: #252525;
    width:40%;
    height: 45vh;
}
.pen-img{
    background-color: black;
    padding: 5px;
    width: 30%;
}



/** why choose us tag**/

.g-head-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.g-head-container .g-box{
    margin: 20px;
    width:auto;
    height:auto;
}
.g-head-container .g-box .g-box-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
}
.g-head-container .g-box .g-box-content .g-heading{
    font-size: 35px;
    margin: 10px;
}
.g-head-container .g-box .g-box-content .g-para{
    font-size: 18px;
}

.g-container{
    display: flex;
    justify-content: center;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    flex-flow: row wrap;
    row-gap: 30px;
    align-items: center;
    margin-bottom: 150px;
}

/* .g-one{order: 4; background-color: #add3d3;}
.g-two{order: 2;}
.g-three{order: 3; background-color: #add3d3;}
.g-four{order: 1;} */

.g-container .g-box .g-iconbox{
    width: 265px;
    height: 200px;
    background: #82C419;
    margin: 15px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgb(255, 2, 2);
    /* transition: .10s, all, ease-out; */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.g-container .g-box i{
    font-size: 40px;
    color: white;
}
.g-container .g-box .g-box-content .g-para{
    text-align: center;
    font-size: 25px;
}
.g-container .g-box :hover{
    /* display:flex; */
    background: #4C6820;
    border-radius: 10px;
    color: white;
    transition: all ease .8s;
    
}



/** our team tag**/
.h-outer-container{
    margin-bottom: 150px;
}
.h-head-container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 150px; */
}
.h-head-container .h-box{
    width: auto;
    height: auto;
    margin: 20px;
}
.h-head-container .h-box .h-box-content{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
} 
.h-head-container .h-box .h-box-content .h-heading{
    font-size: 35px;
    margin: 5px;
}
.h-head-container .h-box .h-box-content .h-para{
    font-size: 18px;
    margin: 5px;
    margin-bottom: 20px;
}


.h-image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.h-contain{
    position: relative;
}
.h-image{
    
}
.h-image-container img{
    width: 450px;
    height: 420px;
    margin: 15px;
    border:solid #82C419 ;
      
}
.h-image-container .h-box{
    
    width: 100%;
    /* background-color: #2D2E2E; */
    
    position: absolute;
    left: 0;
    bottom: -30px;
    right: 0;
}
.h-image-container .h-box .h-box-content{
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    text-align: center;
    align-content: center;
    width: 225px;
    height: 100px;
    border-radius: 10px;
    margin: auto;
    background: #82C419;
    
    /* margin: 5px; */
}
.h-image-container .h-box .h-box-content .h-heading{
    font-size: 23px;
    color: white;
}
.h-image-container .h-box .h-box-content .h-icons-content{
    font-size: 23px;
    margin: 4px;
    
    /* bottom: 100px; */

}
.h-image-container .h-box .h-box-content i{
    margin: 3px;
    /* background: #121311; */
    color:#82C419;
}




/* 
.image-box{
    width: 400px;
    height: 400px;
    margin: auto;
    margin-bottom: 50px;

}
.image-card img{
    height: 100%;
    width: 100%;
    border: 5px solid black;
}
.image-card{
    position: relative;
}

.social-media{
    position: absolute;
    height: 50px;
    bottom: 0;
    right: 0;
    left: 0;
}
.social-icons{
    background-color: #82C419;
    width: 250px;
    min-height: 100px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    border-radius: 20px;
}
.social-icons h4{
    color: white;
    font-size: 20px;
}
.social-icons-div{
    color: rgba(18, 11, 11, 0);
    font-size: 30px;
    display: flex;
    gap: 20px;
    
} */



.get-total{
    margin-top: 100px;
    /* background-color: rgb(173, 211, 211); */
    width: auto;
    height: auto;
}
.get-total div{
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
form{
    /* background-color: #82C419; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    max-width: 50vw;
    height: 150px;
    height: auto;
    margin: auto;
}
form .input{
    box-shadow: 0 0px 10px #f3d1d181;
}
.name{
    padding-left: 20px;
    font-size: 15px;
    width:100%;
    height: 50px;
    border: #add3d3;
    
}
.email{
    /* margin: auto;
    margin-right: 50px; */
    
    padding-left: 20px;
    font-size: 15px;
    width:100%;
    height: 50px;
    border: none;
}
.phone{
    /* margin: auto;
    margin-left: 50px; */
    padding-left: 20px;
    font-size: 15px;
        width:100%;
        height: 50px;
        /* height: auto; */
        border: none;
       
}
.em-ph{
    /* height: 40px; */
    width: 100%;
    /* background-color: #f3d1d181; */
    display: flex;
    justify-content: center;
    gap: 30px;
}
.message{
    padding-left: 20px;
    font-size: 15px;
    width: 100%;
    align-content: center;
    border: none;
}
.send-button{
    min-width: 10%;
    height: 40px;
    background-color: #82C419;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    color: white;
    margin-bottom: 100px;
}


.j-container .j-head-box{
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    /* padding: 50px; */
    margin: 25px;
}
.j-container .j-head-box h1{
    font-size: 45px;
    text-align: center;
    margin: 50px;
}
.j-container .j-img-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 150px;
    height: 170px;
    border: solid #121311;
    /* padding: 50%; */
    position: absolute;
    left: -50px;
    top: -70px;
}
.j-container .j-img-box img{
    width: 100%;
    height: 100%;

}

.j-container .j-box{
    width: auto;
    height: auto;
    max-width: 600px;
    min-height: 380px;
    margin: 10px;
    border: solid #F4E212;
    /* background-color: #F4E212; */
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* align-content: center; */
    margin: auto; 
    position: relative;
    margin-bottom: 150px;
      
}
.j-container .j-box .j-box-content{
    margin: 8%;
}
.j-container .j-box-content h4{
    font-weight: bolder;
    font-size: 35px;
}
.j-container .j-box-content h6{
    font-weight: bolder;
    font-size: 25px;
    color: #F4E212;
    margin-bottom: 5px;
}
.j-container .j-box-content p{
    font-size: 18px;
}
.j-container .j-box-content h4,
.j-container .j-box-content h6,
.j-container .j-box-content p{
    margin-left: 80px;
    /* align-items: center; */
}




.k-outer-container{
    padding: 20px;
    margin: 20px;
    align-items: center;
    /* width: 50%; */
}
.k-box-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.k-box-content h1{
    font-size: 45px;
    align-items: center;
}
.k-box-content p{
    font-size: 25px;
}
.k-outer-container .k-box-img{
    background-color: #82C419;
    border:solid #82C419 5px ;
    width: 100%;
    height: 100%;
    /* align-content: center; */
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow:row;
    /* overflow: hidden; */
}

.k-outer-container .k-box-img div{
    overflow:hidden;
}
.k-outer-container .k-box-img img{
    width: 100%;
    height: 100%;
    /* vertical-align: middle; */
    display:inline-block;
    object-fit:cover;
    
}


.k-outer-container .k-box-img:hover{
   background-color: #ffffff;
   border:solid #ffffff 5px ;
   transition: .5s all ease;
}
.k-outer-container .k-box-img img:hover{
    transform: scale(1.10);
    transition: .5s all ease-in-out;
    object-fit:cover;
}






/* .test-para{
    border: 2px solid #82C419;
    width: 420px;
    height: 450px;
    padding: 30px;
    padding-left: 100px;
    margin: auto;
}
.test-para h4{
    margin-top: 30px;
    font-size: 25px;
}
.test-para h6{
    font-size: 18px;
    color: #82C419;
}
.test-para p{
    margin-top: 20px;
    font-size: 18px;
}
.test-para{
    position: relative;
    background-color: #add3d3;
}
.test-img{
    position: absolute;
    left: -30%;
    top: -10%;
    z-index: -1;
}
.test-para:hover .test-img{
    z-index: 1;
} */




footer{
    background-color: #252525;
    display: flex;
    justify-content: space-evenly;
    height: auto;
    padding: 20px;
}
footer div{
    text-align: center;
    color: white;
}
footer div h4{
    font-size: 20px;
    margin: 30px;
}
footer .address-div{
    font-size: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}
footer .icon-div{
    margin: 40px;
    font-size: 25px;
    display: flex;
    gap: 10px;
    justify-content: center;
}
.fa-brands{
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 50px;
}
footer .navigation-div .nav{
    display: flex;
    /* flex-direction: column; */
    text-align: center;
    gap: 20px;
    font-size: 16px;
}
.navigation-div .nav1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.navigation-div .nav2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.email-div{
    display: flex;
    margin: auto;
    background-color: #252525;
    font-weight: bold;
    /* color: white; */
    /* justify-content: center; */
    height: 50px;
    width: 100%;
    border:2px solid white;
    padding: 15px; 
    margin-bottom: 10px; 
    /* margin: 10px; */
}

.email-div::placeholder{
    color: #74AD1B;
    font-size: 18px;
}


button{
    background-color:#74AD1B;
    color: white;
    width: 50%;
    height: 40px;
    font-size: 16px;
}





.last-line{
    padding: 18px;
    text-align: center;
    font-size: 30px;
    color:#74AD1B ;
}


/** media section**/
@media (width<900px){
    .d-container{
        /* flex-direction: column; */
        flex-wrap: wrap;
        
    }
    .d-container .d-box{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .choose-total-div{
        padding: 30px;
        flex-wrap: wrap;
        gap: 50px;
    }
    .our-team-head{
        margin-top: 300px;
        flex-wrap: wrap;
    }
    form{
        width: auto;
        max-width: 80vw;
        flex-wrap: wrap;
    }
    .pencil-section{
        flex-direction: column;
    }
    .pencil-img{
        width: 100%;
    }
    .para-pencil-bg{
        width: 100%;
        height: auto;
        padding: 20px;
    }
    .para-pen-bg{
        width: 100%;
        height: auto;
        padding: 20px;
        
    }
    .pen-img{
        width: 100%;
        
    }
    .pen-section{
        flex-direction: column;
        
    }
    .layout-pen{
        margin-bottom: 500px;
    }
    .overnav{
        display: none;
    }
    .j-container .j-box-content h4,
.j-container .j-box-content h6,
.j-container .j-box-content p{
    margin-left: auto;
    margin: auto;
}
.j-container .j-img-box{
    left: 50px;
    top: -130px;
}
.j-container .j-head-box h1{
    margin: 150px;
}
.j-container .j-box{
    width: 95%;
}
.h-contain{
    
}
.h-image-container img{
    width: 350px;
    height: 320px;
    margin: 15px;
}



@media (width<600px){
    form{
        max-width: 90vw;
    }
}

footer .navigation-div .nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    font-size: 16px;
}
footer{
    /* background-color: #252525; */
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    /* justify-content: space-evenly; */
    /* height: auto;
    padding: 20px; */
}

.b-container .b-box .b-icon-box{
    display: block;
}
.b-full-nav{
    display: none;
}



}

@media (width<1200px){
    .last-line{
        font-size:25px ;
    }
}
@media (width<1000px){
    .last-line{
        font-size:18px ;
    }
}
@media (width<600px){
    .last-line{
        font-size:12px ;
    }
}